.info{
    display: flex;
    align-items: center;
    height: 30vw;
}
.contactus{
    padding: 0vw 0vw 0vw 11vw;
    width: 45%;
}
.link{
    padding: 0vw 0vw 0vw 11vw;
}
.contact{
    
    font-family: 'Berkshire Swash';
    font-style: normal;
    font-size: 3vw;
    width: 45%;
}
.lin{
    
    font-family: 'Berkshire Swash';
    font-style: normal;
    font-size: 3vw;
}
.desc1{
    font-family: 'Prata';
    font-style: normal;
    font-size: 1.2vw;
}
.desc2{
    font-family: 'Prata';
    font-style: normal;
    font-size: 1.2vw;
}

@media only screen and (max-width: 480px) {

    .info{
        flex-direction: column;
        height: max-content;
    }

    .contactus,.link{
        width: 80vw;
        padding: 0%;

    }

    .contact{
        font-size: 23px;
    }

    .desc1 {
        font-size: 18px;        
    }

    .lin{
        font-size: 23px;
    }

    .desc2{
        font-size: 18px;
    }

}