.section-name {

    font-family: 'Prata';
    font-style: normal;
    font-weight: 200;
    font-size: 62px;
    padding: 0 20px;

}

.event-row {

    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 20px;

    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 57px;
    /* identical to box height */


    color: #686868;


}

.pastEvents {
    margin-bottom: 100px;
}


@media only screen and (max-width: 480px) {

    .section-name {
        font-size: 23px;
    }

    .event-row {
        width: 100%;
        padding: 0%;
        font-size: 23px;
        justify-content: space-evenly;
    }

    .event-row>span:nth-child(2),
    .event-row>span:nth-child(3) {
        display: none;
    }

    .register-btn{
        padding: 12px 30px;
    }
}